.container{
    display: flex;
    width: 320px;
    height: 540px;
    padding: 17px; 
    margin: 20px;
    background: rgb(255, 226, 59);
    box-sizing: border-box;
    border: 7px solid black;
    border-radius: 8% 8% 95% 95% / 8% 8% 15% 15%;
    box-shadow: 4px 4px 4px rgb(255, 255, 255) inset, 
    -4px -4px 4px rgba(156, 154, 154, 0.513) inset;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}

.container .pantalla{
    width: 270px;
    height: 260px;
    background: rgb(97, 95, 95);
    margin: 0px 40px 0px 0px;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 8% 8% 95% 95% / 8% 8% 15% 15%;
    box-shadow: 2px 2px 2px rgb(255, 255, 255) inset;
}

.container .pantalla #pantallita{
    float: left;
    position: relative;
    width: 185px;
    height: 168px;
    background: rgb(201, 213, 214);
    margin: 20px 0px 0px 36px;
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 8%;
    box-shadow: 3px 3px 3px rgb(146, 146, 146) inset;
}

.container .pantalla #pantallita #progress{
    width: 0%;
    height: 20%;
    position: absolute;
    background: black;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    z-index: 1;
}

.container .pantalla #pantallita #name{
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    height: 20%;
    position: absolute;
    background: black;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    z-index: 2;
}

.container .pantalla #pantallita #currentTime{
    position: absolute;
    background: black;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    bottom: 0;
}

.container .pantalla #pantallita #img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container .pantalla .redbutt{
    position: absolute;
    float: left;
    width: 13px;
    height: 13px;
    background: rgb(255, 0, 0);
    margin: 58px 0px 12px 9px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 250px;
}

.container .pantalla .lineshort{
    position: absolute;
    float: left;
    width: 27px;
    height: 5px;
    background: rgb(0, 0, 0);
    margin: 75px 0px 12px 4px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 250px;
}

.container .pantalla .line1{
    position: absolute;
    width: 55px;
    height: 7px;
    background: rgb(0, 0, 0);
    margin: 215px 0px 12px 52px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 250px;
}

.container .pantalla .line2{
    position: absolute;
    width: 35px;
    height: 7px;
    background: rgb(0, 0, 0);
    margin: 215px 0px 12px 114px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 250px;
}

.container .pantalla .line3{
    position: absolute;
    width: 50px;
    height: 7px;
    background: rgb(0, 0, 0);
    margin: 215px 0px 12px 157px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 250px;
}

.container .boton{
    position: absolute;
    width: 83px;
    height: 20px;
    background: rgb(255, 226, 59);
    margin: 274px 0px 12px 93px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 250px;
}

.container .cruceta{
    width: 75px;
    height: 75px;
    position: absolute;
    margin: 305px 0px 12px 8px;
    transform:rotate(0);
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    box-sizing: border-box;
}

.container .cruceta:before, .container .cruceta:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(97, 95, 95);
    border: 6px solid black;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
}
  
.container .cruceta:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    1.5px 1.5px 1px rgb(255, 254, 254) inset;
}
  
.container .cruceta:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    1.5px 1.5px 1px rgb(255, 254, 254) inset;
}

.container .cruceta .before {
    position: absolute;
    float: left;
    width: 25px;
    height: 35px;
    margin: 26px 0px 12px 0;
    cursor: pointer;
}

.container .cruceta .after {
    position: absolute;
    float: left;
    width: 25px;
    height: 35px;
    margin: 26px 0px 12px 63px;
    cursor: pointer;
}

.container .cruceta .decrease {
    position: absolute;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 28px;
    margin-top: 60px;
    cursor: pointer;
    z-index: 1;
}

.container .cruceta .increase {
    position: absolute;
    float: left;
    width: 25px;
    height: 25px;
    top: 0;
    margin-left: 28px;
    cursor: pointer;
    z-index: 1;
}

.container .cruceta .cuadrado {
    position: absolute;
    width: 30%;
    left: 43%;
    height: 60px;
    margin: 9px 0px 12px 0px;
    background: rgb(97, 95, 95);
}

.container .cruceta .cuadrado .bolita {
    position: absolute;
    float: left;
    width: 16px;
    height: 16px;
    background: rgb(97, 95, 95);
    margin: 26px 0px 12px 4px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 250px;
}

.container .backBtn{
    position: absolute;
    width: 45px;
    height: 18px;
    background: rgb(97, 95, 95);
    margin: 425px 0px 12px 88px;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 250px;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    0px 1px 2px rgb(255, 254, 254) inset;
    cursor: pointer;
}

.container .passBtn{
    position: absolute;
    width: 45px;
    height: 18px;
    background: rgb(97, 95, 95);
    margin: 425px 0px 12px 139px;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 250px;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    0px 1px 2px rgb(255, 254, 254) inset;
    cursor: pointer;
}

.container .pauseBtn{
    position: absolute;
    width: 45px;
    height: 45px;
    background: rgb(97, 95, 95);
    margin: 333px 0px 12px 165px;
    box-sizing: border-box;
    border: 6px solid black;
    cursor: pointer;
    border-radius: 250px;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    1.5px 1.5px 1px rgb(255, 254, 254) inset;
}

.container .playBtn{
    position: absolute;
    width: 45px;
    height: 45px;
    background: rgb(97, 95, 95);
    margin: 315px 0px 12px 218px;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 250px;
    box-shadow: 1px 3px 3px rgb(44, 44, 44), 
    1.5px 1.5px 1px rgb(255, 254, 254) inset;
    cursor: pointer;
}